/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/delivery/deliveryPayment.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.deliveryPayment_delivery-payment__F4Kuh {
  flex: 1 1 auto;
  margin: 57px 12px 30px;
  position: relative;
}

.deliveryPayment_delivery-payment__title__ar3wK {
  margin: 25px 0 50px 0;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/delivery/delivery.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.delivery_delivery__types__5c6Qu {
  display: flex;
}

.delivery_delivery__type__GTKuG {
  border: 1px solid rgb(125, 193, 229);
  padding: 10px;
}
.delivery_delivery__type--active__JUlbZ {
  background-color: rgb(178, 214, 234);
}

.delivery_delivery__type-content__uEgdD {
  display: none;
}
.delivery_delivery__type-content--active__NSv6j {
  display: block;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/payment/payment.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.payment_payment__FTZ0E {
  margin-top: 30px;
  line-height: 20px;
}
.payment_payment__FTZ0E p {
  font-size: 14px;
}
.payment_payment__FTZ0E p:not(:last-child) {
  margin-bottom: 20px;
}

.payment_payment__title__kh3NY {
  margin-bottom: 30px;
}

.payment_payment__subtitle__wyT1r {
  margin-bottom: 20px;
}
