@import "@/scss/variables";
@import "@/scss/mixines";

.form {
  margin: 25px 0 0;
  padding: 25px 15px 15px;
  border-radius: 15px;
  text-align: center;
}

.form__title {
  font-size: 36px;
}

.form__firstname,
.form__lastname,
.form__login,
.form__email,
.form__password,
.form__password-second,
.form__telephone {
  margin-top: 25px;
  width: 100%;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #000;
  position: relative;
  padding: 4px 0;
}

.form__firstname-input,
.form__lastname-input,
.form__login-input,
.form__email-input,
.form__password-input,
.form__password-second-input,
.form__telephone-input {
  width: 90%;
  padding: 0;
  margin: 7px 15px;
  border: none;
  background-color: transparent;
  &::placeholder {
    color: #000;
    font-size: 16px;
  }
  &:focus {
    outline: none;
  }
}

.form__firstname.data__invalid,
.form__lastname.data__invalid,
.form__login.data__invalid,
.form__email.data__invalid,
.form__password.data__invalid,
.form__password-second.data__invalid,
.form__telephone.data__invalid {
  border: 1px solid red;
}

.form__firstname-label,
.form__lastname-label,
.form__login-label,
.form__email-label,
.form__password-label,
.form__password-second-label,
.form__telephone-label {
  font-weight: 300;
  color: #000;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0%, -50%);
  transition: top 0.3s, font-size 0.3s;
}

.form__firstname-label.data__invalid,
.form__lastname-label.data__invalid,
.form__login-label.data__invalid,
.form__email-label.data__invalid,
.form__password-label.data__invalid,
.form__password-second-label.data__invalid,
.form__telephone-label.data__invalid {
  color: red;
}

.form__firstname-label.input-focused,
.form__lastname-label.input-focused,
.form__login-label.input-focused,
.form__email-label.input-focused,
.form__password-label.input-focused,
.form__password-second-label.input-focused,
.form__telephone-label.input-focused {
  top: -1px;
  background-color: $main-color;
  padding: 0 5px;
  left: 10px;
}

.form__error {
  margin: 10px 10px 0 0;
  text-align: right;
  color: red;
  font-size: 12px;
}

.form__button {
  border: none;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: $main-color;
  font-size: 20px;
  color: #000;
  padding: 9px 23px;
  margin: 35px 0 0;
  width: 70%;
  transition: background-color 0.6s;
  &:hover {
    cursor: pointer;
    background-color: $second-color;
    transition: background-color 0.6s;
  }
}
