@import "@/scss/variables";
@import "@/scss/mixines";

.modal {
  background-color: $second-color;
  border-radius: 10px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  z-index: 200;
}
.modal__title {
  margin: 20px 0 5px 18px;
}

.modal__close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 25px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__name,
.form__phone,
.form__email {
  margin-top: 25px;
  width: 90%;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid $main-color;
  position: relative;
  padding: 4px 0;
}

.form__name-input,
.form__phone-input,
.form__email-input {
  width: 90%;
  padding: 0;
  margin: 7px 15px;
  border: none;
  background-color: transparent;
  &::placeholder {
    color: $second-color;
    font-size: 16px;
  }
  &:focus {
    outline: none;
  }
}

.form__name.data__invalid,
.form__phone.data__invalid,
.form__email.data__invalid {
  border: 1px solid red;
  margin-top: 49px;
}

.form__validation {
  margin: 5px 0px 0px 15px;
  color: $second-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.form__validation.data__invalid {
  color: red;
}

.form__name-label,
.form__phone-label,
.form__email-label {
  font-weight: 200;
  color: $main-color;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0%, -50%);
  transition: top 0.3s, font-size 0.3s;
}

.form__name-label.data__invalid,
.form__phone-label.data__invalid,
.form__email-label.data__invalid {
  color: red;
}

.form__name-label.input-focused,
.form__phone-label.input-focused,
.form__email-label.input-focused {
  top: -1px;
  font-size: 12px;
  background-color: $second-color;
  padding: 0 5px;
  left: 10px;
}

.form__button {
  border: none;
  border-radius: 25px;
  background-color: gray;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  padding: 9px 23px;
  margin: 20px 0;
  width: 70%;
}

.form__button.enabled {
  background-color: $card-color;
  color: $main-color;
  &:hover {
    cursor: pointer;
    background-color: $main-color;
    color: $second-color;
  }
}
