@import "@/scss/variables";
@import "@/scss/mixines";

.delivery__type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 21px;
  margin: 20px 10px;
  gap: 10px;
}
.delivery__left-side {
  margin-right: 30px;
  & p {
    margin-bottom: 25px;
    font-weight: 800;
    &:last-child {
      font-weight: 100;
      font-size: 12px;
    }
    & span {
      font-weight: 200;
    }
  }
}

.delivery__right-side {
  & p {
    margin-bottom: 25px;
    font-weight: 800;
    & span {
      display: block;
      margin: 10px 0 0 0;
      font-weight: 200;
    }
  }
}
