@import "@/scss/variables";
@import "@/scss/mixines";

.delivery__types {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  & li {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
}
.delivery__type {
  border: 1px solid $text-color;
  border-radius: 5px;
  padding: 10px;
  &--active {
    background-color: $card-color;
  }
}

.delivery__type-content {
  display: none;
  &--active {
    display: block;
  }
}
