@import "@/scss/variables";
@import "@/scss/mixines";

.payment {
  margin-top: 30px;
  line-height: 20px;
  & p {
    font-size: 14px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.payment__title {
  margin-bottom: 30px;
}

.payment__subtitle {
  margin-bottom: 20px;
}
