@import "@/scss/variables";

.card-wrapper {
  padding: 5px;
  text-align: center;
  position: relative;
  background-color: $card-color;
  border-radius: 5px;
  color: $text-color;
}
.card-wrapper__img {
  margin: 10px 0;
  border-radius: 15px;
}
.card-wrapper__name {
  text-align: left;
  margin: 10px;
}

.card-wrapper__current-price {
  text-align: left;
  margin: 10px;
}

.card-wrapper__to-fav {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.card-wrapper__to-cart {
  position: absolute;
  bottom: 12px;
  right: 15px;
  background-color: transparent;
  border: none;
}
