@import "@/scss/variables";
@import "@/scss/mixines";

.block {
  margin: 25px 0;
  text-align: center;
}
.block__title {
  margin-bottom: 20px;
  font-weight: 700;
  color: #000;
}
.block__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.block__button {
  width: 94%;
  padding: 10px;
  margin: 0 auto 15px;
  display: flex;
  background-color: $second-color;
  border-radius: 10px;
  position: relative;
  &--sort {
    border-radius: 10px 10px 0 0;
  }
  &:hover {
    cursor: pointer;
  }
}

.block__filter {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  &--text {
    font-size: 16px;
  }
}

.block__sort-options {
  background-color: $second-color;
  border-radius: 0 0 10px 10px;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 42px;
  left: 0;
  height: 0px;
  overflow: hidden;
  & li {
    margin: 25px 0;
  }
}

.block__sort-options.block__sort-options--open {
  height: 210px;
  transition: height 0.5s ease;
}

.block__show-more {
  @include button();
}
