/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/card/card.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.card_card-wrapper__D_8n0 {
  padding: 5px;
  text-align: center;
  position: relative;
  background-color: rgb(178, 214, 234);
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.card_card-wrapper__img__OeIwZ {
  margin: 10px 0;
  border-radius: 20px;
}

.card_card-wrapper__name__7TXCI {
  text-align: left;
  margin: 10px;
}

.card_card-wrapper__current-price__vgRpv {
  text-align: left;
  margin: 10px;
}

.card_card-wrapper__to-fav__JJlyQ {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card_card-wrapper__to-cart__fAjdC {
  position: absolute;
  bottom: 12px;
  right: 15px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/productsBlock/productsBlock.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.productsBlock_block__bJsBH {
  text-align: center;
}

.productsBlock_block__title__3Y05z {
  margin: 10px 0;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.productsBlock_block__list__6lTLr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  gap: 4px;
}

.productsBlock_block__show-more__oJJg3 {
  margin: 15px 0;
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  text-align: center;
  background-color: rgb(125, 193, 229);
  border: 2px solid #00d6dc;
  border-radius: 30px;
  transition: all ease 0.35s;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/loader/loader.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.loader_preloader-container__7RFBT {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 20px 0;
}

.loader_preloader__7NpoH {
  border: 4px solid rgb(178, 214, 234);
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: loader_spin__I0gSS 1s linear infinite;
}

@keyframes loader_spin__I0gSS {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_main__akH3E {
  flex: 1 1 auto;
  margin-top: 57px;
  padding: 0 5px;
  position: relative;
}
