/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/product/[itemNo]/item-no.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.item-no_current-product__yl1tr {
  flex: 1 1 auto;
  margin: 67px auto 10px;
  padding: 10px 0;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/currentProd/current-prod.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.current-prod_current-product__title__cbgfv {
  margin-bottom: 20px;
  text-align: center;
}

.current-prod_current-product__quantity__rNAUS {
  margin-bottom: 20px;
  text-align: right;
}

.current-prod_current-product__item-no__ut3Lx {
  margin-bottom: 20px;
  text-align: right;
}

.current-prod_current-product__img-container__4bSPo {
  position: relative;
  margin-bottom: 20px;
}

.current-prod_current-product__fav__CnJXc {
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 20px;
}

.current-prod_current-product__img__6j0jw {
  border-radius: 15px;
}

.current-prod_current-product__count__kcluf {
  margin: 30px 0 0 0;
  text-align: right;
}

.current-prod_current-product__decrease__lmgcj {
  border: transparent;
  background-color: rgb(178, 214, 234);
  width: 30px;
  height: 30px;
}

.current-prod_current-product__number__m_Dkq {
  margin: 0 15px;
}

.current-prod_current-product__increase__0Yojp {
  border: transparent;
  background-color: rgb(178, 214, 234);
  width: 30px;
  height: 30px;
}

.current-prod_current-product__add-to-cart__3YtN9 {
  width: 100%;
  margin-top: 15px;
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  text-align: center;
  background-color: rgb(125, 193, 229);
  border: 2px solid rgb(178, 214, 234);
  border-radius: 30px;
  transition: all ease 0.35s;
}
.current-prod_current-product__add-to-cart__3YtN9:hover {
  background-color: rgb(178, 214, 234);
  border: 2px solid rgb(125, 193, 229);
}
