/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/registration/registration.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.registration_form__4RBVN {
  margin: 25px 0 0;
  padding: 25px 15px 15px;
  border-radius: 15px;
  text-align: center;
}

.registration_form__title__Y22QM {
  font-size: 36px;
}

.registration_form__firstname__Ai8HR,
.registration_form__lastname__dIY4B,
.registration_form__login__AEjah,
.registration_form__email__ZXnB0,
.registration_form__password__gBljh,
.registration_form__password-second__S7XYN,
.registration_form__telephone__Cynh3 {
  margin-top: 25px;
  width: 100%;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #000;
  position: relative;
  padding: 4px 0;
}

.registration_form__firstname-input__Yqq4T,
.registration_form__lastname-input___2rqa,
.registration_form__login-input__kwS_A,
.registration_form__email-input__NqAPz,
.registration_form__password-input__ldCIi,
.registration_form__password-second-input__5zFJt,
.registration_form__telephone-input__VeaA6 {
  width: 90%;
  padding: 0;
  margin: 7px 15px;
  border: none;
  background-color: transparent;
}
.registration_form__firstname-input__Yqq4T::placeholder,
.registration_form__lastname-input___2rqa::placeholder,
.registration_form__login-input__kwS_A::placeholder,
.registration_form__email-input__NqAPz::placeholder,
.registration_form__password-input__ldCIi::placeholder,
.registration_form__password-second-input__5zFJt::placeholder,
.registration_form__telephone-input__VeaA6::placeholder {
  color: #000;
  font-size: 16px;
}
.registration_form__firstname-input__Yqq4T:focus,
.registration_form__lastname-input___2rqa:focus,
.registration_form__login-input__kwS_A:focus,
.registration_form__email-input__NqAPz:focus,
.registration_form__password-input__ldCIi:focus,
.registration_form__password-second-input__5zFJt:focus,
.registration_form__telephone-input__VeaA6:focus {
  outline: none;
}

.registration_form__firstname__Ai8HR.registration_data__invalid__bYSTr,
.registration_form__lastname__dIY4B.registration_data__invalid__bYSTr,
.registration_form__login__AEjah.registration_data__invalid__bYSTr,
.registration_form__email__ZXnB0.registration_data__invalid__bYSTr,
.registration_form__password__gBljh.registration_data__invalid__bYSTr,
.registration_form__password-second__S7XYN.registration_data__invalid__bYSTr,
.registration_form__telephone__Cynh3.registration_data__invalid__bYSTr {
  border: 1px solid red;
}

.registration_form__firstname-label__ofbTi,
.registration_form__lastname-label__IhL3e,
.registration_form__login-label__H8C3L,
.registration_form__email-label__kx1wr,
.registration_form__password-label__OWrbY,
.registration_form__password-second-label__6MEcC,
.registration_form__telephone-label__FgZsx {
  font-weight: 300;
  color: #000;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0%, -50%);
  transition: top 0.3s, font-size 0.3s;
}

.registration_form__firstname-label__ofbTi.registration_data__invalid__bYSTr,
.registration_form__lastname-label__IhL3e.registration_data__invalid__bYSTr,
.registration_form__login-label__H8C3L.registration_data__invalid__bYSTr,
.registration_form__email-label__kx1wr.registration_data__invalid__bYSTr,
.registration_form__password-label__OWrbY.registration_data__invalid__bYSTr,
.registration_form__password-second-label__6MEcC.registration_data__invalid__bYSTr,
.registration_form__telephone-label__FgZsx.registration_data__invalid__bYSTr {
  color: red;
}

.registration_form__firstname-label__ofbTi.registration_input-focused___JKs5,
.registration_form__lastname-label__IhL3e.registration_input-focused___JKs5,
.registration_form__login-label__H8C3L.registration_input-focused___JKs5,
.registration_form__email-label__kx1wr.registration_input-focused___JKs5,
.registration_form__password-label__OWrbY.registration_input-focused___JKs5,
.registration_form__password-second-label__6MEcC.registration_input-focused___JKs5,
.registration_form__telephone-label__FgZsx.registration_input-focused___JKs5 {
  top: -1px;
  background-color: rgb(239, 239, 239);
  padding: 0 5px;
  left: 10px;
}

.registration_form__error__fvVK5 {
  margin: 10px 10px 0 0;
  text-align: right;
  color: red;
  font-size: 12px;
}

.registration_form__button__MqHDf {
  border: none;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: rgb(239, 239, 239);
  font-size: 20px;
  color: #000;
  padding: 9px 23px;
  margin: 35px 0 0;
  width: 70%;
  transition: background-color 0.6s;
}
.registration_form__button__MqHDf:hover {
  cursor: pointer;
  background-color: rgb(125, 193, 229);
  transition: background-color 0.6s;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/scss/pageMarkup.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page-markup {
  flex: 1 1 auto;
  margin: 57px 10px 30px;
  position: relative;
}
