/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/contacts/contacts.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.contacts_contacts__aKDOM {
  flex: 1 1 auto;
  margin: 57px 15px 30px;
  position: relative;
}

.contacts_contacts__title__18PZB {
  margin: 35px 0;
  font-size: 22px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/contacts/contacts.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.contacts_contacts__content__T9ee8 {
  line-height: 20px;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right" "map map";
  grid-gap: 10px;
  gap: 10px;
}

.contacts_contacts__left__Vmb_b {
  grid-area: left;
  overflow: hidden;
  word-wrap: break-word;
}

.contacts_contacts__right__OlDH0 {
  grid-area: right;
}
.contacts_contacts__right__OlDH0 p {
  margin: 10px 0;
}

.contacts_contacts__type__lT6QC {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 800;
}
.contacts_contacts__type__lT6QC:not(:first-child) {
  margin-top: 25px;
}

.contacts_contacts__info__kT1_i {
  margin-top: 10px;
}

.contacts_contacts__map__WojPL {
  border: 1px solid black;
  grid-area: map;
}
