/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/news/[full-info]/full-info.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.full-info_full-info___vWIc {
  flex: 1 1 auto;
  margin: 67px 20px 30px;
  position: relative;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/newYearSchedule/newYearSchedule.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.newYearSchedule_news__item__LnWKl {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(125, 193, 229);
  border-radius: 10px;
}

.newYearSchedule_news__img__V1u_C {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
}

.newYearSchedule_news__content__fKhgc {
  padding: 25px;
}

.newYearSchedule_news__title__0bpgE {
  margin: 0 0 15px 0;
  font-size: 18px;
  line-height: 22px;
}

.newYearSchedule_news__text__Qxj33 {
  margin: 0 0 30px 0;
  line-height: 20px;
}
