@import "@/scss/variables";
@import "@/scss/mixines";

.form__name,
.form__phone {
  margin-top: 25px;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid $second-color;
  position: relative;
  padding: 4px 0;
}

.form__name-input,
.form__phone-input {
  width: 90%;
  padding: 0;
  margin: 7px 15px;
  border: none;
  background-color: transparent;
  &::placeholder {
    color: $second-color;
    font-size: 16px;
  }
  &:focus {
    outline: none;
  }
}

.form__name-label,
.form__phone-label {
  font-weight: 200;
  color: $second-color;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0%, -50%);
  transition: top 0.3s, font-size 0.3s;
}

.form__name-label.input-focused,
.form__phone-label.input-focused {
  top: -1px;
  font-size: 12px;
  background-color: #fff;
  padding: 0 5px;
  left: 10px;
}

.form__button {
  border: none;
  border-radius: 10px;
  background-color: $second-color;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  padding: 9px 23px;
  margin: 20px 0;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}
