@import "@/scss/variables";

.price-range {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 10px;
  justify-content: center;
  align-items: center;
}

.price-range__min,
.price-range__max {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid $second-color;
  position: relative;
  padding: 4px 0;
}

.price-range__min-input,
.price-range__max-input {
  width: 90%;
  padding: 0;
  margin: 10px 7px 7px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  &::placeholder {
    color: $second-color;
    opacity: 0.5;
  }
  &:focus {
    outline: none;
  }
}

.price-range__min-label,
.price-range__max-label {
  font-weight: 200;
  color: $second-color;
  position: absolute;
  font-size: 20px;
  top: -2px;
  background-color: #fff;
  left: 10px;
  padding: 0 5px;
  transform: translate(0%, -50%);
}

.price-range__button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: $second-color;
  font-size: 16px;
  color: $main-color;
  &:hover {
    cursor: pointer;
    background-color: $card-color;
  }
}
