@import "@/scss/variables";

.price-range {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 0.2fr;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.price-range__min,
.price-range__max {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid $second-color;
  position: relative;
  padding: 4px 0;
}

.price-range__min-input,
.price-range__max-input {
  width: 90%;
  padding: 0;
  margin: 10px 7px 7px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  &::placeholder {
    color: $second-color;
    opacity: 0.5;
  }
  &:focus {
    outline: none;
  }
}

.price-range__min-label,
.price-range__max-label {
  font-weight: 200;
  color: $second-color;
  position: absolute;
  font-size: 20px;
  top: -2px;
  background-color: #fff;
  left: 10px;
  padding: 0 5px;
  transform: translate(0%, -50%);
  transition: top 0.3s, font-size 0.3s;
}

.price-range__button {
  width: 50px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: $second-color;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  &:hover {
    cursor: pointer;
  }
}
