@import "@/scss/variables";
@import "@/scss/mixines";

.news__item {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $second-color;
  border-radius: 10px;
}
.news__img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
}

.news__content {
  padding: 25px;
}

.news__title {
  margin: 0 0 15px 0;
  font-size: 18px;
  line-height: 22px;
}
.news__text {
  margin: 0 0 30px 0;
  line-height: 20px;
}

.news__more {
  text-decoration: underline;
}
