/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/cart/cart.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.cart_cart__uoTyq {
  flex: 1 1 auto;
  margin-top: 57px;
  padding: 0 10px;
  position: relative;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/card/card.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.card_card-wrapper__D_8n0 {
  padding: 5px;
  text-align: center;
  position: relative;
  background-color: rgb(178, 214, 234);
  border-radius: 5px;
}

.card_card-wrapper__img__OeIwZ {
  margin: 10px 0;
  border-radius: 15px;
}

.card_card-wrapper__name__7TXCI,
.card_card-wrapper__current-price__vgRpv,
.card_card-wrapper__count__psGlZ {
  text-align: left;
  margin: 10px;
}

.card_card-wrapper__to-fav__JJlyQ {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.card_card-wrapper__to-cart__fAjdC {
  position: absolute;
  bottom: 12px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.card_card-wrapper__decrease__ruwsb {
  border: transparent;
  background-color: rgb(125, 193, 229);
  width: 30px;
  height: 30px;
}

.card_card-wrapper__number__QprGe {
  margin: 0 15px;
}

.card_card-wrapper__increase__lbsVc {
  border: transparent;
  background-color: rgb(125, 193, 229);
  width: 30px;
  height: 30px;
}
