/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/scss/pageMarkup.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page-markup {
  flex: 1 1 auto;
  margin: 57px 10px 30px;
  position: relative;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/tShirts/TShirts.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TShirts_block__ap9fi {
  margin: 25px 0;
  text-align: center;
}

.TShirts_block__title__Rjgk1 {
  margin-bottom: 20px;
  font-weight: 700;
  color: rgb(125, 193, 229);
}

.TShirts_block__list__5aKuT {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  gap: 4px;
}

.TShirts_block__show-more__YhMmA {
  margin-top: 15px;
  display: inline-block;
  padding: 10px 25px;
  color: rgb(178, 214, 234);
  text-align: center;
  background-color: rgb(239, 239, 239);
  border: 2px solid rgb(178, 214, 234);
  border-radius: 30px;
  transition: all ease 0.35s;
}
.TShirts_block__show-more__YhMmA:hover {
  cursor: pointer;
  background-color: rgb(178, 214, 234);
  color: rgb(239, 239, 239);
}
