@import "@/scss/variables";
@import "@/scss/mixines";

.current-product__title {
  margin-bottom: 20px;
  text-align: center;
}

.current-product__quantity {
  margin-bottom: 20px;
  text-align: right;
}

.current-product__item-no {
  margin-bottom: 20px;
  text-align: right;
}

.current-product__img-container {
  position: relative;
  margin-bottom: 20px;
}

.current-product__fav {
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 20px;
}

.current-product__img {
  border-radius: 15px;
}

.current-product__count {
  margin: 30px 0 0 0;
  text-align: right;
}

.current-product__decrease {
  @include decreaseIncreaseButton();
}

.current-product__number {
  margin: 0 15px;
}

.current-product__increase {
  @include decreaseIncreaseButton();
}

.current-product__add-to-cart {
  width: 100%;
  @include button();
}
