@import "@/scss/variables";

.slider {
  text-align: center;
}
.slider__title {
  margin: 15px 0 20px;
  font-weight: 700;
}

.slider__img {
  border-radius: 15px;
}

.swiper-button-prev,
.swiper-button-next {
  color: $card-color;
  &:hover {
    color: $second-color;
  }
}
