@import "@/scss/variables";

.footer {
  background-color: $text-color;
  color: black;
  font-weight: 100;
  border-radius: 10px 10px 0 0;
}

.footer__logo {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &--title {
    margin: 0 0 0 15px;
    color: $main-color;
    font-weight: 700;
    font-size: 26px;
  }
}

.footer__items {
  margin: 20px;
}

.footer__contacts {
  margin: 0 0 20px 0;
}
.footer__title {
  position: relative;
  margin: 0 0 15px 0;
}

.footer__pages,
.footer__catalog,
.footer__cooperation {
  position: relative;
  overflow: hidden;
}

.footer__title-arrow {
  position: absolute;
  right: 15px;
  top: 0;
  transition: transform 0.5s ease;
}

.footer__title-arrow.rotate-90 {
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}

.footer__pages-items,
.footer__catalog-items,
.footer__cooperation-items {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.footer__pages-items.footer__pages-items--open {
  height: 290px;
  overflow: visible;
  transition: height 0.5s ease;
}
.footer__catalog-items.footer__catalog-items--open,
.footer__cooperation-items.footer__cooperation-items--open {
  height: 120px;
  overflow: visible;
  transition: height 0.5s ease;
}

.footer__link {
  margin: 0 0 12px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-weight: 400;
}
.footer__socials-list,
.footer__payment {
  margin: 0 0 10px 15px;
  display: flex;
  gap: 20px;
}
.footer__rights {
  background-color: rgb(52, 142, 218);
  text-align: center;
  padding: 10px 0;
}
