@import "@/scss/variables";

.footer {
  background-color: $text-color;
  color: black;
  font-weight: 100;
  border-radius: 10px 10px 0 0;
  padding: 20px 0 0 0;
}

.footer__items {
  margin: 0 8px;
}

.footer__contacts {
  margin: 0 0 20px 0;
}
.footer__title {
  position: relative;
  margin: 0 0 15px 0;
}

.footer__pages,
.footer__catalog,
.footer__cooperation {
  height: 30px;
  overflow: hidden;
  position: relative;
}

.footer__title-arrow {
  position: absolute;
  right: 30px;
  top: 0;
  transition: transform 0.5s ease;
}

.footer__title-arrow.rotate-90 {
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}

.footer__pages.footer__pages--open,
.footer__catalog.footer__catalog--open,
.footer__cooperation.footer__cooperation--open {
  height: auto;
  overflow: visible;
}

.footer__link {
  margin: 0 0 12px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-weight: 400;
}
.footer__socials-list,
.footer__payment {
  margin: 0 0 10px 15px;
  display: flex;
  gap: 20px;
}
.footer__rights {
  background-color: rgb(52, 142, 218);
  text-align: center;
  padding: 10px 0;
}
