.menu-head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-login {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translate(0, -50%);
}
.menu-close {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translate(0, -50%);
}
