@import "@/scss/variables";

@mixin button($bc: $main-color, $brdrclr: $card-color) {
  margin-top: 15px;
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  font-weight: 800;
  border: 3px solid #000;
  border-radius: 30px;
  -webkit-transition: all ease 0.35s;
  -o-transition: all ease 0.35s;
  transition: all ease 0.35s;
  &:hover {
    cursor: pointer;
    background-color: $bc;
    color: $second-color;
    border: 3px solid $second-color;
  }
}

@mixin decreaseIncreaseButton($bc: $card-color) {
  border: transparent;
  background-color: $bc;
  width: 30px;
  height: 30px;
}
