@import "@/scss/variables";

@mixin button() {
  margin-top: 15px;
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  text-align: center;
  background-color: $main-color;
  border: 2px solid $card-color;
  border-radius: 30px;
  -webkit-transition: all ease 0.35s;
  -o-transition: all ease 0.35s;
  transition: all ease 0.35s;
  &:hover {
    background-color: $card-color;
    border: 2px solid $main-color;
  }
}

@mixin decreaseIncreaseButton() {
  border: transparent;
  background-color: $card-color;
  width: 30px;
  height: 30px;
}
