@import "@/scss/variables";

@mixin button($bc: $main-color, $brdrclr: $card-color) {
  margin-top: 15px;
  display: inline-block;
  padding: 10px 25px;
  color: $card-color;
  text-align: center;
  background-color: $bc;
  border: 2px solid $brdrclr;
  border-radius: 30px;
  -webkit-transition: all ease 0.35s;
  -o-transition: all ease 0.35s;
  transition: all ease 0.35s;
  &:hover {
    background-color: $brdrclr;
    border: 2px solid $bc;
  }
}

@mixin decreaseIncreaseButton($bc: $card-color) {
  border: transparent;
  background-color: $bc;
  width: 30px;
  height: 30px;
}
